<nav
  class="navbar navbar-expand-lg navbar-light"
  style="background-color: #f3e169"
>
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/presentacion">
      <strong>
        BUENAS
        <div style="color: red">PRÁCTICAS</div>
      </strong>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse"
      style="background-color: #f3e169"
      id="navbarNavDropdown"
    >
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/como"
            >¿Cómo Funciona?
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/preguntas">Preguntas Frecuentes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/recursos">Recursos</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
