/* You can add global styles to this file, and also import other style files */

html, body { height: 100%;
    font-family: 'Lato', serif;
    font-size: 16px;
   font-weight:900;
   
        }


img {
    height: auto;
    max-width: 100%;
    }